@model WebbyMyself.Models.Branch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css"> 
<link rel="script" href="~/js/site.js">
<script src="~/lib/font-awesome/js/all.js"></script>
<link href="~/lib/font-awesome/css/all.css"/>

<h1 class="title">Xóa ngành</h1>
<hr />

<h3>Bạn có muốn xóa không?</h3>
<p>
    <div>
        <hr />
        <dl class="row">
            <dt class = "col-sm-4">
                    Tên ngành
            </dt>
            <dd class = "col-sm-8">
                    @Html.DisplayFor(model => model.BranchName)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID" />
            <button type="submit" title="Lưu" class="btn btn-danger my-3"><i class="fa fa-trash"></i> Xóa</button>
            <a class="btn btn-secondary" asp-action="Index">Trở về trang chủ</a>
        </form>
    </div>
</p>


