@model WebbyMyself.Models.Student

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/site.css"> 
<link rel="script" href="~/js/site.js">
<script src="~/lib/font-awesome/js/all.js"></script>
<link href="~/lib/font-awesome/css/all.css"/>

<h1 class="title">Sửa thông tin sinh viên</h1>
<hr />
<p>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Tên sinh viên</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label">Điện thoại</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label">Email</label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label">Địa chỉ</label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ClassID" class="control-label">Lớp học</label>
                    <select asp-for="ClassID" asp-items="@ViewBag.listClasses" class="form-control"></select>
                    <span asp-validation-for="ClassID" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <button type="submit" title="Lưu" class="btn btn-primary my-3"><i class="fa fa-save"></i> Lưu</button>
                    <a class="btn btn-secondary" asp-action="Index">Trở về trang chủ</a>
                </div>
            </form>
        </div>
</div>
</p>

